@import url(href=https://fonts.googleapis.com/css?family=Heebo:100&display=swap);

.landBox { /*text box for the landing page*/
    width: 30%;
    padding: 8%;
    margin: 10% auto;
    background-color: rgb(179, 200, 231) ;
    opacity: 0.5;
    display: center; 
    flex-wrap: wrap;
}
.boxWhite { /*Generic white border box*/
    border: 5px solid #E9E9E9 ;
    width: 80%;
    margin: 5% auto;
    display: center ;
    flex-wrap: wrap ;
}
.quote { /*Generic white border box*/
    background-color: rgba(199, 199, 199, 0.63) ;
    width: 65%;
    margin: 5% auto;
    display: center ;
    flex-wrap: wrap ;
}
.boxBlack { /*Generic black border box*/
    border: 5px solid #151515;;
    width: 80%;
    margin: 5% auto;
    display: center ;
    flex-wrap: wrap ;
}
.textBlack { /*Generic black text format class*/
    text-align: center;
    color: #151515;
    font-family: 'Heebo', sans-serif;
    font-size: medium;
}
.textBlackQuote { /*Generic black text format class for quotes*/
    text-align: center;
    color:  black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}
.textBlackBig { /*Generic black text format class, large font*/
    text-align: center;
    color: #151515;
    font-family: 'Heebo', sans-serif;
    font-size: xx-large;
}
.textWhite { /*Generic white text format class*/
    text-align: center;
    color: rgba(182, 198, 212, 0.788);
    font-family: 'Heebo', sans-serif;
    font-size: medium;
}
.textWhiteQuote { /*Generic white text format class for quotes*/
    text-align: center;
    color: rgba(182, 198, 212, 0.788);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}
.textWhiteBig { /*Generic white text format class*, large font*/
    text-align: center;
    color: rgba(182, 198, 212, 0.788);
    font-family: 'Heebo', sans-serif;
    font-size: xx-large;
}
/*Paralax groups: NOTE - to remove the white divider between plx effects the first line of the <div class=plx[X]> but be a <br> - don't ask me why*/
.plx1{ /*Parallax scroll effect gackground 1 (mountains)*/
    background-image: url(BG2.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plx2{ /*Parallax scroll effect gackground 2 (mountains MAIN)*/
    background-image: url(BG4.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plx3{ /*Parallax scroll effect gackground 3 (mountains)*/
    background-image: url(BG5.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plx4{ /*Parallax scroll effect gackground 4 (mountains)*/
    background-image: url(BG6.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plx5{ /*Parallax scroll effect gackground 4 (mountains)*/
    background-image: url(BG7.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plxb1{ /*Parallax scroll effect gackground 1 (beach)*/
    background-image: url(bgb1.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plxb2{ /*Parallax scroll effect gackground 2 (beach)*/
    background-image: url(bgb2.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plx1L{ /*parralax effect for landing page 1 (front page)*/
    background-image: url(BG.jpg);
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
.plx2L{ /*parralax effect for landing page 2 (about me)*/
    background-image: url(BG3.jpg);
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% fixed;
    margin-left: calc(100% - 100vw);
    margin-right: calc(100% - 100vw);
    padding-left: calc(100vw - 100%);
    padding-right: calc(100vw - 100%)
}
#header { /*Header*/
    background-image: url(headerBG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 10% 5%;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold; 
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 0; 
    width: 80%;
    transition: 0.8s;
  }
.button {
      background-color: inherit;
      text-align: center;
      color: inherit;
      font-family: 'Heebo', sans-serif;
      font-size: inherit;
      padding: 1vh;
      display: inline-block;
  }